$errColor: red;
$errMute: darkgrey;

.unhandled-question {
  margin: {
    left: 1em;
    right: 1em;
  }
  .header {
    border: solid 1px $errColor;
    background-color: scale-color($errColor, $lightness: 90%);
    padding: {
      left: 0.5em;
      right: 0.5em;
    }
    font-weight: bold;
  }
  .raw {
    margin-top: 0;
    background-color: scale-color($errMute, $lightness: 80%);
    border: solid 1px $errMute;
    border-top: none;
  }
}

.weird-valueset {
  border: solid 1px $errColor;
}
