$color: red;
div {
  .unhandled-question-type {
    border: dashed 1px $color;
    padding: 1.5em;
    margin: 1em;
  }

  .question-link-id {
    background-color: scale-color(red, $lightness: 90%);
    padding: 0.1em 0.5em 0.1em 0.5em;
    font-weight: normal;

    &:before {
      color: lightgrey;
      font-weight: bolder;
      content: "linkId: ";
    }
  }
}
